<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.pgycode.wanandroid.app"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="玩 Android"
        tools:replace="android:label"
        android:name=".app.App"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".act.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.github.pgycode.mypluginer.StubActivity"
            android:theme="@style/Theme.AppCompat"/>

        <activity android:exported="false" android:name="com.didi.virtualapk.delegate.StubActivity" android:launchMode="standard"/>
        <!-- Stub Activities -->
        <activity android:exported="false" android:name="com.didi.virtualapk.core.A$1" android:launchMode="standard"/>
        <activity android:exported="false" android:name="com.didi.virtualapk.core.A$2" android:launchMode="standard"
            android:theme="@android:style/Theme.Translucent" />

        <!-- Stub Activities -->
        <activity android:exported="false" android:name="com.didi.virtualapk.core.B$1" android:launchMode="singleTop"/>
        <activity android:exported="false" android:name="com.didi.virtualapk.core.B$2" android:launchMode="singleTop"/>
        <activity android:exported="false" android:name="com.didi.virtualapk.core.B$3" android:launchMode="singleTop"/>
        <activity android:exported="false" android:name="com.didi.virtualapk.core.B$4" android:launchMode="singleTop"/>
        <activity android:exported="false" android:name="com.didi.virtualapk.core.B$5" android:launchMode="singleTop"/>
        <activity android:exported="false" android:name="com.didi.virtualapk.core.B$6" android:launchMode="singleTop"/>
        <activity android:exported="false" android:name="com.didi.virtualapk.core.B$7" android:launchMode="singleTop"/>
        <activity android:exported="false" android:name="com.didi.virtualapk.core.B$8" android:launchMode="singleTop"/>

        <!-- Stub Activities -->
        <activity android:exported="false" android:name="com.didi.virtualapk.core.C$1" android:launchMode="singleTask"/>
        <activity android:exported="false" android:name="com.didi.virtualapk.core.C$2" android:launchMode="singleTask"/>
        <activity android:exported="false" android:name="com.didi.virtualapk.core.C$3" android:launchMode="singleTask"/>
        <activity android:exported="false" android:name="com.didi.virtualapk.core.C$4" android:launchMode="singleTask"/>
        <activity android:exported="false" android:name="com.didi.virtualapk.core.C$5" android:launchMode="singleTask"/>
        <activity android:exported="false" android:name="com.didi.virtualapk.core.C$6" android:launchMode="singleTask"/>
        <activity android:exported="false" android:name="com.didi.virtualapk.core.C$7" android:launchMode="singleTask"/>
        <activity android:exported="false" android:name="com.didi.virtualapk.core.C$8" android:launchMode="singleTask"/>

        <!-- Stub Activities -->
        <activity android:exported="false" android:name="com.didi.virtualapk.core.D$1" android:launchMode="singleInstance"/>
        <activity android:exported="false" android:name="com.didi.virtualapk.core.D$2" android:launchMode="singleInstance"/>
        <activity android:exported="false" android:name="com.didi.virtualapk.core.D$3" android:launchMode="singleInstance"/>
        <activity android:exported="false" android:name="com.didi.virtualapk.core.D$4" android:launchMode="singleInstance"/>
        <activity android:exported="false" android:name="com.didi.virtualapk.core.D$5" android:launchMode="singleInstance"/>
        <activity android:exported="false" android:name="com.didi.virtualapk.core.D$6" android:launchMode="singleInstance"/>
        <activity android:exported="false" android:name="com.didi.virtualapk.core.D$7" android:launchMode="singleInstance"/>
        <activity android:exported="false" android:name="com.didi.virtualapk.core.D$8" android:launchMode="singleInstance"/>

        <!-- Local Service running in main process -->
        <service android:exported="false" android:name="com.didi.virtualapk.delegate.LocalService" />

        <!-- Daemon Service running in child process -->
        <service android:exported="false" android:name="com.didi.virtualapk.delegate.RemoteService" android:process=":daemon">
            <intent-filter>
                <action android:name="${applicationId}.intent.ACTION_DAEMON_SERVICE" />
            </intent-filter>
        </service>

        <provider
            android:exported="false"
            android:name="com.didi.virtualapk.delegate.RemoteContentProvider"
            android:authorities="${applicationId}.VirtualAPK.Provider"
            android:process=":daemon" />

    </application>

</manifest>