<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.pgycode.wanandroid.home">

    <application>
        <activity android:name=".act.WebviewActivity"/>
        <activity android:name=".act.PrjActivity"/>
    </application>

</manifest>